<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  &nbsp;&nbsp;
    <p>
      Splurty was built by <a target="_blank" href="http://github.com/dorothyeves">Dorothy</a>. An aspiring full stack web developer learning to turn ideas into reality. 
      <p>
      This Splurty app was built by using the programming language <strong>Ruby</strong> and the framework <strong>Ruby on Rails</strong> as well as <strong>HTML</strong> and <strong>CSS</strong>.
      </p>
    </p>
    <br />
    <p>
    Currently attending <strong>The FirehoseProject</strong> software engineering bootcamp learning to code and build products as well as pursuing a bachelors degree in IT - Software Engineering & Cybersecurity concentration. 
    </p>

    <p>
    She enjoys learning to code and excited in gaining more knowledge at TheFirehoseProject in her pursuit of becoming a Full Stack Web Developer.
    </p>
    
    <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>

    <div class="row">
      <div class="col-12 col-sm-4" style="padding-top:30px;">
        <%= image_tag 'dorothy.png' , class: 'img-fluid' %>
      </div>
        <div class ="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Dorothy Eves</h2>
        <br />
        <p>
            Dorothy is an aspiring Full Stack Web Developer/Software Engineer.
        </p>
        <p>
        Some of her hobbies include building websites for local businesses looking to have an online presence as well as music artists official websites.
        </p>
        <p>
        Aside from learning more code, she also has a history in music, from recording engineering, songwriting and performing.  
        </p>
        <p>
        You can follow her as she pursues her journey through  TheFirehoseProject at <a href="https://medium.com/@dorothyeves" target="_blank">Dorothy Eves</a>
        </p>
        </div>
    </div> 
</div>
 <br class="clear" />
 <br />
 <br />
 <br />
 <br />