<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
      Splurty was built by <a target="_blank" href="http://github.com/dorothyeves">Dorothy</a>. An aspiring web developer learning to turn ideas into reality.
    </p>
    <br />
    <p>
    Currently attending The FirehoseProject software engineering bootcamp learning to code and build products as well as pursuing a bachelors degree in IT - Software Engineering & Cybersecurity concentration.
    </p>
    <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>

    <div class="row">
      <div class="col-12 col-sm-4" style="padding-top:30px;">
        <%= image_tag 'dorothy.png' , class: 'img-fluid' %>
      </div>
        <div class ="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Dorothy Eves</h2>
        <br />
        <p>
            Dorothy is an aspiring web developer currently working on projects.
        </p>
        </div>
    </div> 
</div>
 <br class="clear" />
 <br />
 <br />
 <br />
 <br />